### Problem 1

**Task:** Given the weights (kg) and heights (m) of two people, return which person has the higher BMI.  
Return `1` if person 1 has a higher BMI, `2` if person 2 has a higher BMI, and `0` if they are equal.  
**Reminder:** BMI = weight / (height * height).

In [6]:
def compare_bmi(w1, h1, w2, h2):
    bmi1 = w1 / (h1*h1)
    bmi2 = w2 / (h2*h2)
    if (bmi1 > bmi2): return 1
    elif (bmi1 == bmi2): return 0
    return 2

In [7]:
# Basic comparisons and boundaries (equal, close values)
assert compare_bmi(70.0, 1.75, 70.0, 1.75) == 0
assert compare_bmi(80.0, 1.80, 70.0, 1.75) == 1
assert compare_bmi(60.0, 1.60, 70.0, 1.90) == 1
assert compare_bmi(55.0, 1.70, 65.0, 1.70) == 2
assert compare_bmi(90.0, 2.00, 90.0, 1.90) == 2

### Problem 2

**Task:** Given a gender string and a height in meters, return `True` if the person is male **and** taller than 1.70 m; otherwise return `False`.  
Accept male markers like `'male'`, `'m'`, `'nam'` (case-insensitive).

In [ ]:
def is_tall_male(gender, height_m):
    if (gender in ['male','m','nam'] and height_m > 1.70): return True
    return False

In [5]:
assert is_tall_male("male", 1.71) is True
assert is_tall_male("male", 1.70) is False
assert is_tall_male("m", 1.80) is True
assert is_tall_male("nam", 1.69) is False
assert is_tall_male("female", 1.90) is False
assert is_tall_male("nu", 1.60) is False

### Problem 3

**Task:** Given a score `s`, return a letter grade by the rules:  
- `A+` if `s ≥ 9`  
- `A` if `s ≥ 8.5`  
- `B+` if `s ≥ 8`  
- `B` if `s ≥ 7`  
- `E` otherwise

In [8]:
def map_grade(s):
    if (s >= 9): return "A+"
    elif (s >= 8.5): return "A"
    elif (s >= 8): return "B+"
    elif (s >= 7): return "B"
    return "E"

In [9]:
assert map_grade(9.0) == "A+"
assert map_grade(8.5) == "A"
assert map_grade(8.0) == "B+"
assert map_grade(7.0) == "B"
assert map_grade(6.99) == "E"

### Problem 4

**Task:** Given an integer `n`, return:  
- `5*n + 1` if `n mod 3 == 1`  
- `6*n + 2` if `n mod 3 == 2`  
- `7*n + 3` if `n mod 3 == 0`

In [10]:
def piecewise_mod3(n):
    if (n % 3 == 1): return 5*n+1
    elif (n % 3 == 2): return 6*n+2
    return 7*n+3

In [11]:
assert piecewise_mod3(1) == 6
assert piecewise_mod3(2) == 14
assert piecewise_mod3(3) == 24
assert piecewise_mod3(4) == 21

### Problem 5

**Task:** Given two birthdays as `(day, month, year)` parts for person 1 and person 2, return `1` if person 1 is older (earlier date), `2` if person 2 is older, and `0` if equal.  
Example: `27 2 2007` vs `28 2 2007` → return `1` older? Actually 27th is earlier → person 1 is elder (use this rule).

In [ ]:
def older_brother(d1, m1, y1, d2, m2, y2):
    if (y1 < y2): return 1
    elif (y1 > y2): return 2
    else:
        if (m1 < m2): return 1
        elif (m1 > m2): return 2
        else:
            if (d1 < d2): return 1
            elif (d1 > d2): return 2
            else: return 0

In [13]:
assert older_brother(27, 2, 2007, 28, 2, 2007) == 1
assert older_brother(1, 1, 2000, 31, 12, 1999) == 2
assert older_brother(15, 5, 2010, 15, 5, 2010) == 0
assert older_brother(2, 3, 2005, 1, 3, 2005) == 2
assert older_brother(31, 12, 2001, 1, 1, 2002) == 1

### Problem 6

**Task:** Given three numbers `a, b, c`, return the **middle** value when the three are ordered ascending (the second largest).  
This definition handles duplicates (e.g., `2, 2, 5` → middle is `2`).

In [14]:
def middle_of_three(a, b, c):
    if (b < c): b, c = c, b
    if (a < b): a, b = b, a
    if (b < c): b, c = c, b
    return b

In [15]:
assert middle_of_three(1, 2, 3) == 2
assert middle_of_three(3, 2, 1) == 2
assert middle_of_three(2, 2, 5) == 2
assert middle_of_three(-5, -1, -3) == -3
assert middle_of_three(7, 7, 7) == 7

### Problem 7

**Task:** Given five numbers `a, b, c, d, e`, return `True` if there exist **any three** numbers among them that are all equal; otherwise return `False`.  
Do not use tuples or dictionaries.

In [41]:
def has_three_equal(a, b, c, d, e):
    l = [a, b, c, d, e]
    for i in range(0, len(l)-2):
        tmp = 0
        for j in range(i+1, len(l)):
            if (l[i] == l[j]): tmp += 1
        if (tmp >= 2): return True
    return False

In [42]:
assert has_three_equal(1, 1, 1, 2, 3) is True
assert has_three_equal(5, 5, 4, 5, 9) is True
assert has_three_equal(0, 0, 1, 2, 3) is False
assert has_three_equal(-1, -1, -1, -1, -2) is True
assert has_three_equal(2, 3, 4, 5, 6) is False

### Problem 8

**Task:** Given three numbers `a, b, c`, return them in a list ordered in **non-decreasing** order.

In [52]:
def sort_three(a, b, c):
    # l = [a, b, c]
    # return sorted(l) #hàm sort
    if (b < c): b, c = c, b
    if (a < b): a, b = b, a
    if (b < c): b, c = c, b
    return [c, b, a]

In [53]:
assert sort_three(3, 2, 1) == [1, 2, 3]
assert sort_three(1, 3, 2) == [1, 2, 3]
assert sort_three(2, 2, 1) == [1, 2, 2]
assert sort_three(-1, -5, 0) == [-5, -1, 0]
assert sort_three(7, 7, 7) == [7, 7, 7]

### Problem 9

**Task:** Given real coefficients `a, b, c`, return all real solutions of the quadratic equation `a*x*x + b*x + c = 0` in a list sorted ascending.  
Rules:  
- If `a == 0` and `b != 0`: return the single root `[-c / b]`.  
- If `a == 0` and `b == 0`: return `[]` (no finite unique solution if `c == 0` or no solution if `c != 0`).  
- For `a != 0`, use the discriminant `d = b*b - 4*a*c`:  
  - `d < 0` → `[]`  
  - `d == 0` → `[ -b / (2*a) ]`  
  - `d > 0` → two roots `[r1, r2]` with `r1 <= r2`.

In [67]:
def solve_quadratic(a, b, c):
    if (a == 0):
        if (b != 0): return [-c/b]
        return []
    
    else:
        d = b*b - 4*a*c
        if (d == 0): return [-b/(2*a)]
        elif (d > 0): return [(-b-d**0.5)/(2*a), (-b+d**0.5)/(2*a)]
        return []

In [68]:
# Two real roots
roots = solve_quadratic(1.0, -3.0, 2.0)  # (x-1)(x-2)=0
assert len(roots) == 2 and abs(roots[0] - 1.0) < 1e-9 and abs(roots[1] - 2.0) < 1e-9
# One real root
roots = solve_quadratic(1.0, 2.0, 1.0)   # (x+1)^2=0
assert len(roots) == 1 and abs(roots[0] + 1.0) < 1e-9
# No real roots
assert solve_quadratic(1.0, 0.0, 1.0) == []
# Linear case
roots = solve_quadratic(0.0, 2.0, -8.0)  # 2x-8=0 -> x=4
assert len(roots) == 1 and abs(roots[0] - 4.0) < 1e-9
# Degenerate all-zero a=b=0
assert solve_quadratic(0.0, 0.0, 5.0) == []

### Problem 10

**Task:** Given coordinates of three points `A(x1,y1)`, `B(x2,y2)`, `C(x3,y3)`, return `True` if they form a triangle, else `False`.  
Rule: They form a triangle if they are **not collinear** (the signed area is not zero).

In [65]:
def is_triangle(x1, y1, x2, y2, x3, y3):
    if ( (x1*(y2 - y3) + x2*(y3 - y1) + x3*(y1 - y2)) /2 == 0): return False
    return True

In [66]:
assert is_triangle(0, 0, 1, 0, 0, 1) is True
assert is_triangle(0, 0, 1, 1, 2, 2) is False
assert is_triangle(1, 2, 3, 4, 5, 0) is True
assert is_triangle(0, 0, 2, 0, 4, 0) is False
assert is_triangle(-1, -1, 0, 1, 1, -1) is True

### Problem 11

**Task:** Given an integer `x`, return `True` if there exists an integer `n ≥ 1` such that `x = 1 + 2 + ... + n`, else return `False`.  
A simple loop that accumulates the sum is preferred.

In [75]:
def is_triangular_sum(x):
    sum = 0
    for i in range(0, x+1):
        sum += i
        if (sum == x): return True
        if (sum > x): break
    return False

In [76]:
assert is_triangular_sum(1) is True   # 1
assert is_triangular_sum(3) is True   # 1+2
assert is_triangular_sum(6) is True   # 1+2+3
assert is_triangular_sum(10) is True  # 1+2+3+4
assert is_triangular_sum(8) is False
assert is_triangular_sum(9) is False
assert is_triangular_sum(16) is False

### Problem 12

**Task.** *Smart Taxi Fare.*  
Write a single function `smart_taxi_fare(car_type, start_hour, km, wait_minutes)` that **computes and returns `total` (total money to pay, integer, in VND)

Rules to implement:
1. **Open fee (0–0.8 km):**
   - 4-seat: 11,000 VND
   - 7-seat: 12,000 VND
2. **Per‑km after 0.8 km:**
   - 4-seat: 0.8→20 km at 13,000 VND/km; >20 km at 10,500 VND/km
   - 7-seat: 0.8→20 km at 14,000 VND/km; >20 km at 12,000 VND/km
3. **Waiting fee:** first 5 minutes free; after that, **every** 5 minutes (round up in 5‑minute blocks) costs 2,000 VND.
4. **Night surcharge:** if `start_hour` is in `[22,23,0,1,2,3,4,5]`, add **+20%** on the subtotal (open + distance + waiting).
5. **Special conditions:**
   - If `km > 30` **and not night**, apply a **10% discount** on the total (i.e., after adding zero surcharge).
   - If final total `< 50,000` but `km > 5`, set total to **50,000 VND** (minimum fare).

In [ ]:
import math
def smart_taxi_fare(car_type, start_hour, km, wait_minutes):
    total = 0
    if (car_type == '4'):
        total += 11000
        if (0.8 < km <= 20): total += (km-0.8)*13000
        if (km > 20): total += (20-0.8)*13000 + (km-20)*10500
    else: 
        total += 12000
        if (0.8 < km <= 20): total += (km-0.8)*14000
        if (km > 20): total += (20-0.8)*14000 + (km-20)*12000

    if (wait_minutes > 5): total += math.ceil((wait_minutes-5)/5)*2000

    if (start_hour in [22,23,0,1,2,3,4,5]): total *= 1.2
    elif (km > 30): total *= 0.9

    if (total < 50000 and km > 5): total = 50000
    
    return int(total)

In [23]:
# Tests

# 1) Night ride sample (per implemented rules)
assert smart_taxi_fare("4", 23, 25.0, 13) == 380520

# 2) Exactly 0.8 km, day; waiting 7 minutes -> one billed block
assert smart_taxi_fare("4", 10, 0.8, 7) == 13000

# 3) Exactly 20 km (4-seat), day, no waiting
assert smart_taxi_fare("4", 12, 20.0, 0) == 260600

# 4) Discount case: >30 km, day (7-seat), no waiting -> 10% off
assert smart_taxi_fare("7", 14, 31.0, 0) == 371520

# 5) Night boundary at hour=5 (included)
assert smart_taxi_fare("4", 5, 1.0, 0) == 16320

# 6) Waiting 10 minutes: only one billed block after the first 5
assert smart_taxi_fare("7", 9, 2.0, 10) == 30800

313100.0
317100.0
380520.0
11000
13000
13000
260600.0
260600.0
260600.0
412800.0
412800.0
371520.0
13600.0
13600.0
16320.0
28800.0
30800.0
30800.0